<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Company's Dashboard</title>
</head>


<body>

<div class="container">

    <h2>Dashboard</h2>
    
    <a th:href="@{/company/new-position}" class="btn btn-primary col-2"> Create Position</a>
    <a th:href="@{/company/free-positions}" class="btn btn-primary col-2"> Free Positions</a>
    <a th:href="@{/company/assigned-positions}" class="btn btn-primary col-2"> Assigned Positions</a>

	<hr>
	<a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3"> Logout</a>
</div>

</body>
</html>