<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Professor's Supervised Positions</title>
</head>


<body>

<div class="container">
	<br>
    <h2>Professor's Supervised Traineeship Positions</h2>
    <hr>

    <a th:href="@{/professor/dashboard}" class="btn btn-info btn-sm mb-3">Back</a>
    
    <table border="1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Position Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Topics</th>
            <th>Skills</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="position : ${positions}">
            <td th:text="${position.title}"></td>
            <td th:text="${position.description}"></td>
            <td th:text="${position.fromDate}"></td>
            <td th:text="${position.toDate}"></td>
            <td th:text="${position.topics}"></td>
            <td th:text="${position.skills}"></td>
            <td>
			    <a th:href="@{/professor/positions/{id}/evaluation (id=${position.id})}"> Evaluate </a> 
			</td>
        </tr>
    </tbody>
	</table>
	
	<hr>
	<a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3"> Logout</a>
</div>

</body>
</html>