<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Applicants</title>
</head>


<body>

<div class="container">

    <h2>Applicants</h2>
    
    <table border="1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>AM</th>
            <th>Average Grade</th>
            <th>Preferred Location</th>
            <th>Interests</th>
            <th>Skills</th>
            <th>Search</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.username}"></td>
            <td th:text="${student.studentName}"></td>
            <td th:text="${student.AM}"></td>
            <td th:text="${student.avgGrade}"></td>
            <td th:text="${student.preferredLocation}"></td>
            <td th:text="${student.interests}"></td>
            <td th:text="${student.skills}"></td>
			<td>
			    <a th:href="@{/commitee/students/{username}/interests (username=${student.username})}"> Interests </a>
			    <a th:href="@{/commitee/students/{username}/location (username=${student.username})}"> Location </a>
			    <a th:href="@{/commitee/students/{username}/both (username=${student.username})}"> Both </a>
			</td>
        </tr>
    </tbody>
	</table>

	<hr>
	<a th:href="@{/logout}" class="btn btn-danger btn-sm mb-3"> Logout</a>
</div>

</body>
</html>